.tasks-list {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todo-task {
  .todo-task__container {
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .todo-task__info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .todo-task__status-indicator {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-left: 20px;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;
       
        &:hover { 
            border: 1px solid transparent;
            background: linear-gradient(hsl(237, 14%, 26%), hsl(237, 14%, 26%)) padding-box,
            linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
            border-radius: 50%;
        }

        .circleColor { 
          width: 100%;
          height: 100%;
          border-radius: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
      }

      .todo-task__text {
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
    }

    .todo-task__delete-btn {
      padding: 8px;
      border: none;
      background: transparent;
      border-radius: 9999px;
      transition: background 0.2s ease;
      cursor: pointer;
    }
  }
}
