header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 40px;
        letter-spacing: 13px;
        color: white;
    }

    .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
    }
}
